<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.dao.DrugMapper" >
    <resultMap id="BaseResultMap" type="com.medical.entity.Drug" >
        <id column="did" property="did" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="efficacy" property="efficacy" jdbcType="VARCHAR" />
        <result column="specification" property="specification" jdbcType="VARCHAR" />
        <result column="forbidden" property="forbidden" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        did, name, efficacy, specification, forbidden
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.medical.entity.DrugExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from drug
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from drug
        where did = #{did,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from drug
        where did = #{did,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.medical.entity.DrugExample" >
        delete from drug
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.medical.entity.Drug" >
        insert into drug (did, name, efficacy,
        specification, forbidden)
        values (#{did,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{efficacy,jdbcType=VARCHAR},
        #{specification,jdbcType=VARCHAR}, #{forbidden,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.medical.entity.Drug" >
        insert into drug
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                did,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="efficacy != null" >
                efficacy,
            </if>
            <if test="specification != null" >
                specification,
            </if>
            <if test="forbidden != null" >
                forbidden,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="did != null" >
                #{did,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="efficacy != null" >
                #{efficacy,jdbcType=VARCHAR},
            </if>
            <if test="specification != null" >
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="forbidden != null" >
                #{forbidden,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.medical.entity.DrugExample" resultType="java.lang.Integer" >
        select count(*) from drug
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update drug
        <set >
            <if test="record.did != null" >
                did = #{record.did,jdbcType=INTEGER},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.efficacy != null" >
                efficacy = #{record.efficacy,jdbcType=VARCHAR},
            </if>
            <if test="record.specification != null" >
                specification = #{record.specification,jdbcType=VARCHAR},
            </if>
            <if test="record.forbidden != null" >
                forbidden = #{record.forbidden,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update drug
        set did = #{record.did,jdbcType=INTEGER},
        name = #{record.name,jdbcType=VARCHAR},
        efficacy = #{record.efficacy,jdbcType=VARCHAR},
        specification = #{record.specification,jdbcType=VARCHAR},
        forbidden = #{record.forbidden,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.medical.entity.Drug" >
        update drug
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="efficacy != null" >
                efficacy = #{efficacy,jdbcType=VARCHAR},
            </if>
            <if test="specification != null" >
                specification = #{specification,jdbcType=VARCHAR},
            </if>
            <if test="forbidden != null" >
                forbidden = #{forbidden,jdbcType=VARCHAR},
            </if>
        </set>
        where did = #{did,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.medical.entity.Drug" >
        update drug
        set name = #{name,jdbcType=VARCHAR},
        efficacy = #{efficacy,jdbcType=VARCHAR},
        specification = #{specification,jdbcType=VARCHAR},
        forbidden = #{forbidden,jdbcType=VARCHAR}
        where did = #{did,jdbcType=INTEGER}
    </update>
</mapper>